.root {
}

.table-root {
  width: 100%;
  height: 100%;
}

table,
th,
td {
  color: white;
  border-collapse: collapse;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: 400;
}

.table-cell {
  color: white;
  border-collapse: collapse;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: 400;
}

th {
  min-width: 100px;
  border-bottom: 2px solid #979797;
  border-right: 2px solid #979797;
}

th:last-of-type {
    border-right: 1px solid #979797;
}

td:last-of-type {
    border-right: 1px solid #979797;
}

td {
  text-align: center;
  border: 2px solid #979797;
}

.header-cell {
  width: 3em;
  height: 3em;
  color: white;
  border-bottom: 2px solid #979797;
  border-right: 2px solid #979797;
}
