p {
  margin: 0;
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
}

.input-control {
  margin-right: 1em;
  margin-left: 1em;
  flex-direction: column;
}

.input-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.25em;
}

.index-input {
  font-size: calc(10px + 2vmin);
  color: black;
  width: 1em;
  font-weight: 400;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  border: 2px solid #979797;
}

.input-header-button {
  background-color: white;
  border: 2px solid #979797;
}

.file-upload-button {
  background-color: white;
  color: black;
  border: 2px solid #979797;

  padding: 0px 8px;
  margin: 0;
  font-size: calc(10px + 2vmin);
  text-align: center;
  transition: all 0.3s ease-out;
}

.convert-button {
  width: 63.7vw;
  height: 3em;
  margin-top: 0.5em;
  background-color: white;
  border: 2px solid #979797;
  color: black;
  font-size: calc(10px + 2vmin);
  border-radius: 1px;
}

.input-field {
  width: 30vw;
  height: 70vh;
  resize: none;
  color: black;
  font-size: calc(5px + 2vmin);
  border: 2px solid #979797;
  border-radius: 1px;
}
